# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# DATABASE_URL="postgresql://postgres.xsppjyjsxhmebiimeyqa:sNpaZ4cwfJTGC360@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# DATABASE_URL="postgresql://postgres:u1Y2aQQlwEWUCrwN@db.heoumepdxhqytavqwsuf.supabase.co:5432/postgres"


DATABASE_URL='postgresql://neondb_owner:npg_fNOyGEBx48Qd@ep-red-shape-aillwbpp.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
NODE_ENV=development


PORT=8181

JWT_SECRET='my-secret-jwt-tfvghf6f65fghcrt65yhjkby'
SECRET_KEY='tfvghf6f65fghcrt65yhjkby-gyug67rf65rd5rcg7t6rd5es'
JWT_REFRESH_SECRET=supersecret_refresh
FRONTEND_URL=http://localhost:3000

DB_MAX_RETRIES=3
DB_RETRY_DELAY=1000


# u1Y2aQQlwEWUCrwN
# https://heoumepdxhqytavqwsuf.supabase.co
# sb_publishable_1jpr6UGq6UcX-Bcoh_pMgw_Kr7qf7Or
# postgresql://postgres:[YOUR-PASSWORD]@db.heoumepdxhqytavqwsuf.supabase.co:5432/postgres




# SMTP_HOST=smtp.mailtrap.io
# SMTP_PORT=2525
# SMTP_SECURE=false
# SMTP_USER=arbaazkhanark23@gmail.com
# SMTP_PASS=ymxnalsxpmcqzhlb
# SMTP_FROM=Newsletter <newsletter@example.com>
# EMAIL_FROM=arbaazkhanark23@gmail.com



SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=arbaaazkhanark23@gmail.com
SMTP_PASS=jimalbwqdzgykatm



# ================================================
# Firebase Admin SDK (Backend - Push Notifications)
# ================================================
FIREBASE_PROJECT_ID=chronify-ba410
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxx@chronify-ba410.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"

# ================================================
# Other (Email, etc. - agar use kar rahe ho)
# ================================================
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
FRONTEND_URL=http://localhost:3000