NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8181/v0/api


NEXT_PUBLIC_ONESIGNAL_APP_ID=your-app-id-from-dashboard

NEXT_PUBLIC_VAPID_KEY=BH5-7Yo2F4UfapyPcshItqf7zkhvSd5oAanf6kHFQRXxNjxi50wK0BYw5Fll5vwAW0ExNyga7AIVTgB8W4007pE